@model CVProjekt1._0.ViewModels.ListProjectViewModel
@{
    ViewData["Title"] = "Availible Projects";
}
<h1>@ViewData["Title"]</h1>


<p>Use this page to list all potential projects to join</p>
<div>
    <a asp-controller="Project" asp-action="Create">
        <button type="submit" class="btn btn-primary">Create New Project</button>
    </a>
</div>
