@model CVProjekt1._0.ViewModels.ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project Added!";
}
<h1>@ViewData["Title"]</h1>

<p>Your project has been added!</p>
<div>
    <a asp-controller="Project" asp-action="Create">
        <button type="submit" class="btn btn-primary">Create New Project</button>
    </a>
</div>