@model CVProjekt1._0.Models.Resume

@{
    ViewBag.Title = "Create Resume";
}

<h2>Create a New Resume</h2>

@using (Html.BeginForm("Create", "Resume", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label>Education:</label>
            <textarea asp-for="Educations" class="form-control small-textarea"></textarea>
        </div>
    </div>
    
     <button type = "submit" class="btn btn-primary mt-2">Add education</button>

    <div class="row">
        <div class="col-md-6">
            <label>Skills:</label>
            <textarea asp-for="Skills" class="form-control small-textarea"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Add skill</button>

    <div class="row">
        <div class="col-md-6">
            <label>Experience:</label>
            <textarea asp-for="Experiences" class="form-control small-textarea"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Add experience</button>

    <div class="row">
        <div class="col-md-12">
            <label>About me:</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>

    <button type="submit" class="nav-link text-dark btn btn-primary mt-2">Save "About me"</button>

    <a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="Index">Return to resume</a>
}
