@model CVProjekt1._0.ViewModels.ResumeViewModel

<div class="resume-view">
    <h2 class="resume-title">My Resume</h2>

    <div class="resume-container">

        <div>
            <div class="resume-index-container">
                <h3 class="resume-index-title">Education:</h3>
                <pre class="resume-index-content">@Model.Education</pre>
            </div>

            <div class="resume-index-container">
                <h3 class="resume-index-title">Experience and background:</h3>
                <pre class="resume-index-content">@Model.Experience</pre>
            </div>

            <div class="resume-index-container">
                <h3 class="resume-index-title">Skills:</h3>
                <pre class="resume-index-content">@Model.Skill</pre>
            </div>

            <div class="resume-index-container">
                <h3 class="resume-index-title">About me:</h3>
                <pre class="resume-index-content">@Model.Description</pre>
            </div>
        </div>

        <a class="nav-link text-dark update-link" asp-area="" asp-controller="Resume" asp-action="Create">Update Resume</a>
    </div>
</div>
