@model CVProjekt1._0.ViewModels.ResumeViewModel

<div>
    <h2>My Resume</h2>

    <div class="resume-container">
        <!-- Övriga delar av din vy -->

        <div class="resume-container-text">
            

            <!-- Visa utbildningar -->
            <h3>Education:</h3>
            <ul>
               
            </ul>

            <!-- Visa erfarenheter -->
            <h3>Experience and background:</h3>
            <ul>
             
            </ul>

            <h3>Skills:</h3>
            <ul>
            </ul>

            <h3>About me:</h3>
            <p>@Model.Description</p>

            <div class="resume-project-container">
                <!-- Övriga delar av din vy -->
            </div>
        </div>

        <a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="Create">Update Resume</a>

    </div>
</div>
