@model CVProjekt1._0.ViewModels.ResumeViewModel

<div>
	<h2>My Resume</h2>

	<div class="resume-container">
		

		<div class="resume-container-text">

			<div class="resume-text-container">
				<h3>Education:</h3>
				<p>@Model.Education</p>
			</div>
			<div class="resume-text-container">
				<h3>Experience and background:</h3>
				<p>@Model.Experience</p>

			</div>
			<div class="resume-text-container">

				<h3>Skills:</h3>
				<p>@Model.Skill</p>

			</div>
			<div class="resume-text-container">
				<h3>About me:</h3>
				<p>@Model.Description</p>
			</div>

		</div>

		<a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="Create">Update Resume</a>
	</div>
</div>
