@model CVProjekt1._0.Models.User;

<h2 class="mb-4 display-4">Search For User</h2>
<div class="row">
	<div class="col-md-4">
		<form asp-action="ShowSearchResult" method="get">
			<div class="form-group mb-3">
				<label for="SearchString" class="control-label"></label>
				<input name="SearchString" class="form-control"/>
			</div>
			<div class="form-group">
				<input type="submit" value="Search" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>