@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var unreadMessageCount = ViewBag.UnreadMessageCount as int? ?? 0; // Retrieve unread message count
}
<h2>Your Inbox (@unreadMessageCount unread)</h2>
@model List<Message>



<table>
    <thead>
        <tr>
            <th>Sender</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@(message.Sender?.UserName ?? "Anonymous")</td>
                <td>@message.MessageText</td>
                <td>
                    @if (!message.IsRead)
                    {
                        <a href="@Url.Action("MarkAsRead", new { messageId = message.MessageId })">Mark as Read</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


